{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}

	{% if data.id %}
    <ol class="breadcrumb">
        <li>Editando a categoria <strong>{{ data.name }}</strong></li>
    </ol>
    {% endif %}

    {% include 'macro.twig' with {error:error} %}

    <div class="jumbotron no-margin-bottom">
	    <form class="form-horizontal" method="post" action="/app/categories">

	    	<input type="hidden" name="id" value="{{ data.id }}">

	    	<div class="form-group">
	    		<label for="name" class="control-label col-xs-2">Nome</label>
	    		<div class="col-xs-10">
	    			<input type="text" minlength="3" value="{{ data.name }}" maxlength="25" id="name" autofocus required name="name" class="form-control">
	    		</div>
	    	</div>

	    	<div class="form-group no-margin-bottom">
	    		<div class="col-xs-10 col-xs-offset-2">
	    			<button {% if data.id %}onclick="return confirm('Confirma a edição de \'{{ data.name }}\'?')"{% endif %} class="btn btn-primary" type="submit">Salvar</button>
	    		</div>
	    	</div>
	    </form>
    </div>

{% endblock %}