{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <h2>{{ title }}</h2>

    <p><a href="/app/categories">Lista de Categorias</a></p>

    {% if error|length %}
    <div class="alert alert-danger">
        {% for e in error %}
        <p>{{ e }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="jumbotron no-margin-bottom">
	    <form class="form-horizontal" method="post" action="/app/categories">
	    	<div class="form-group">
	    		<label for="name" class="control-label col-xs-2">Nome</label>
	    		<div class="col-xs-10">
	    			<input type="text" minlength="3" maxlength="25" id="name" autofocus required name="name" class="form-control">
	    		</div>
	    	</div>

	    	<div class="form-group no-margin-bottom">
	    		<div class="col-xs-10 col-xs-offset-2">
	    			<button class="btn btn-primary" type="submit">Salvar</button>
	    		</div>
	    	</div>
	    </form>
    </div>

{% endblock %}