{% extends 'layouts/base.twig' %}

{% block pageTitle title %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Index</h1>
            </div>
        </div>    
    </div>
</div>
{% endblock %}