{% extends 'layouts/base.twig' %}

{% block pageTitle title %}

{% block navbar %}
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Cadastro</a></li>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Funcionalidades</h1>

                <ul>
                    <li><a href="#receitas">Lançamentos de Receitas</a></li>
                    <li><a href="#despesas">Lançamentos de Despesas</a></li>
                    <li><a href="#grupos">Agrupamento de lançamentos</a></li>
                    <li><a href="#liquidacao-parcial">Liquidação parcial</a></li>
                    <li><a href="#liquidacao-com-desconto">Liquidação com desconto</a></li>
                    <li><a href="#liquidacao-com-encargos">Liquidação com encargos</a></li>
                    <li><a href="#pessoas">Cadastro de Pessoas</a></li>
                    <li><a href="#categorias">Cadastro de Categorias</a></li>
                    <li><a href="#usuarios">Cadastro de Usuários</a></li>
                    <li><a href="#extrato">Extrato financeiro de entradas e saídas</a></li>
                    <li><a href="#logs">Log das ações dos usuários, com restauração</a></li>
                    <li><a href="#relatorios">Relatórios</a></li>
                    <li><a href="#backup">Backup dos dados</a></li>
                </ul>

                <hr>

                <h3>Lançamentos de Receitas</h3>

                <p>Para lançar uma receita é necessário ter pelo menos uma <a href="#pessoas">pessoa</a> e uma <a href="#categorias">categoria</a> cadastradas.</p>
                <p>Um lançamento pode ser liquidado diretamente no lançamento, basta preencher a data de pagamento.</p>
                
                <h3>Lançamentos de Despesas</h3>

                <p>...</p>
                
                <h3>Agrupamento de lançamentos</h3>

                <p>...</p>
                
                <h3>Liquidação parcial</h3>

                <p>...</p>
                
                <h3>Liquidação com desconto</h3>

                <p>...</p>
                
                <h3>Liquidação com encargos</h3>

                <p>...</p>
                
                <h3>Cadastro de Pessoas</h3>

                <p>...</p>
                
                <h3>Cadastro de Categorias</h3>

                <p>...</p>
                
                <h3>Cadastro de Usuários</h3>

                <p>...</p>
                
                <h3>Extrato financeiro de entradas e saídas</h3>

                <p>...</p>
                
                <h3>Log das ações dos usuários, com restauração</h3>

                <p>...</p>
                
                <h3>Relatórios</h3>

                <p>...</p>
                
                <h3>Backup dos dados</h3>

                <p>...</p>


                <h3>Liquidação parcial</h3>

                <p>Um lançamento é liquidado parcial quando o valor pago é menor que o valor em aberto.</p>

                <h3>Liquidação com desconto</h3>

                <p>Um lançamento é liquidado com desconto quando o valor liquidado é menor que o valor em aberto, e o checkbox <i>"Lançar diferença como desconto"</i> é checado.</p>

                <h3>Liquidação com encargos</h3>

                <p>Ao liquidar um lançamento com o valor maior que o valor em aberto, a diferença é lançada como encargos.</p>

                <h4></h4>
            </div>
        </div>    
    </div>
</div>
{% endblock %}