{% extends 'layouts/base.twig' %}

{% block pageTitle title %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="no-margin-bottom">
                	<li><a href="/login">Login</a></li>
                	<li><a href="/register">Register</a></li>
                </ul>
            </div>
        </div>    
    </div>
</div>
{% endblock %}