{% extends 'layouts/base.twig' %}

{% block pageTitle title %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">

                {% include 'macro.twig' with {messages: messages} %}

                <form class="form-horizontal jumbotron" method="post" action="/login">

                    <fieldset>
                        <legend>LOGIN</legend>

                        <div class="row" style="margin-bottom:15px">
                            <div class="col-xs-12">
                                <input autofocus required placeholder="E-Mail" type="email" name="email" class="form-control">
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:15px">
                            <div class="col-xs-12">
                                <input required placeholder="Senha" type="password" name="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary pull-right btn-block">Entrar</button>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group no-margin-bottom">
                        <div class="col-xs-12">
                            <a href="/register" class="btn btn-link pull-right btn-block">Cadastre-se</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</div>
{% endblock %}