{% if error|length %}
<div class="alert alert-danger">
    {% for e in error %}
    <p>{{ e }}</p>
    {% endfor %}
</div>
{% endif %}

{% if success|length %}
<div class="alert alert-success">
    {% for s in success %}
    <p>{{ s }}</p>
    {% endfor %}
</div>
{% endif %}