{% extends 'layouts/base.twig' %}

{% block pageTitle title %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
                
                <h2>Termos de Uso</h2>
                
                <p>Ao usar nosso serviço online você  está concordando com estes termos, <strong>leia com atenção.</strong></p>
                <p>Para utilizar as funcionalidades e  recursos do sistema você precisará realizar um cadastro. Poderemos, nessa  oportunidade, solicitar o fornecimento de alguns dados pessoais seus, tais como  nome e e-mail.</p>
                <p>Você poderá solicitar a exclusão  dos seus dados pessoais dos nossos registros <strong>acessando sua conta pessoal e clicando em desativar minha conta. </strong></p>
                <p>Enquanto estivermos em posse de  informações de seus dados, poderemos fornecê-los às autoridades competentes  para colaborar em investigações ou procedimentos judiciais, ainda que  preparatórios ou cautelares, desde que a ordem advenha  de autoridade judiciária brasileira ou pelas autoridades administrativas que detenham competência  legal para a sua requisição, nos termos da Lei  12.965/2014, Art 10º.</p>
                
                <h4>2. Conduta</h4>

                <p>EuConomista oferece aos usuários um  Site que permite controle financeiro pessoal hospedado em servidores contratados.</p>                        
                <p>Podemos suspender sua conta se você  descumprir nossos termos e políticas de segurança, ou se estivermos  investigando casos de suspeita de má conduta.</p>
                <p>Para proteger sua conta no  EuConomista, o usuário deve manter a senha em sigilo. A atividade realizada na  conta de usuário no EuConomista, ou por seu intermédio, é de responsabilidade do  usuário.</p>
                <p>Não recomendamos que a senha do  EuConomista seja reutilizada em sistemas de terceiros.</p>
                <p>Caso tome conhecimento de uso não  autorizado da sua conta, entre em contato por e-mail em contato@euconomista.com.br.</p>
                <p>Não nos responsabilizamos por  perda dos dados por descuido do usuário, cabendo a esse  manter sistema de proteção antivírus, firewall, etc, instalado em seu  computador.</p>
                <p>Ao desativar a conta ou ficar  inativo por mais de 1 ano nosso sistema suspenderá o acesso  automaticamente.</p>

                <h4>3. Políticas de segurança</h4>

                <p>Não compartilhamos informações  pessoais com empresas, organizações e indivíduos externos.</p>
                <p>Usamos criptografias em senhas  armazenadas em nosso banco de dados para maior segurança de nossos usuários.</p>
                <p>Restringimos o acesso a informações  pessoais, quem necessitar saber essas informações para processá-las, estará  sujeito a rigorosas obrigações de confidencialidade.</p>
              
                <h4>4. Alterações</h4>
                
                <p>Nossos termos de uso podem ser  alterados de acordo com influências externas, como o Marco Civil da Internet,  ou internas, como melhorias e reparos no sistema.</p>
                
                <h4>5. Cancelar nosso serviço</h4>

                <p>Estamos constantemente alterando  e melhorando nosso sistema. Podemos incluir ou remover funcionalidades ou  recursos e podemos também suspender ou encerrar um serviço por completo.</p>
                <p>Se descontinuarmos o serviço você  será informado com antecedência e terá a chance de retirar as suas informações  do nosso sistema, não retirando os dados esses serão  apagados nos termos da Lei 12.965/2014, Art 7º, inciso X.</p>
                <p>O usuário poderá cancelar sua  conta quando quiser, apenas acessando sua conta e desativando ao clicar em  “desativar minha conta”.</p>
              
                <h4>6. Responsabilidades pelos nossos serviços</h4>

                <p>O EUCONOMISTA TOMA  MEDIDAS NECESSÁRIAS A  MANUTENÇÃO DO SIGILO DE SEUS DADOS PESSOAIS NÃO SENDO RESPONSÁVEL POR QUALQUER  PERDA OU DANO ADVINDOS DÁ CONDUTA DO USUÁRIO QUE REDUNDEM NA SUA VIOLAÇÃO.</p>
                
            </div>
        </div>    
    </div>
</div>
{% endblock %}