{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    
    {% if data.id %}
    <ol class="breadcrumb">
        <li>Editando a pessoa <strong>{{ data.name }}</strong></li>
    </ol>
    {% endif %}

    {% include 'macro.twig' with {messages: messages} %}

	    <form class="form-horizontal" method="post" action="/app/peoples">

    		<input type="hidden" name="id" value="{{ data.id }}">

	    	<div class="form-group">
	    		<label for="name" class="control-label col-xs-3">Nome</label>
	    		<div class="col-xs-9">
	    			<input value="{{ data.name }}" type="text" minlength="3" maxlength="60" id="name" autofocus required name="name" class="form-control">
	    		</div>
	    	</div>

	    	<div class="form-group no-margin-bottom">
	    		<div class="col-xs-9 col-xs-offset-3">
	    			<button {% if data.id %}onnoclick="return confirm('Confirma a edição de \'{{ data.name }}\'?')"{% endif %} class="btn btn-primary" type="submit">Salvar</button>

	    			<a class="btn btn-link" href onclick="history.back()">Voltar</a>
	    		</div>
	    	</div>
	    </form>
    </div>

{% endblock %}