{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <h2>{{ title }}</h2>

    <ul>
        <li><a href="/app/peoples/form">Adicionar Pessoa</a></li>
    </ul>

    {% include 'macro.twig' with {error:error} %}
    
    <table class="table">
    	<thead>
    		<tr>
                <th>Nome</th>
    			<th width="25%"></th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
    			<td>
                    <a href="/app/peoples/{{ row.id }}/edit">{{ row.name }}</a>
                </td>
                <td>
                    <a href="/app/peoples/{{ row.id }}/delete" style="color:red">Apagar</a>
                </td>
    		</tr>
    		{% endfor %}

            {% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>
{% endblock %}