{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="/app/users/form">Adicionar</a>
        </div>
    </div>

    <hr>

    {% include 'macro.twig' with {error:error} %}

    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Nome</th>
                <th>Email</th>
    			<th width="25%"></th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
    			<td>{{ row.name }}</td>
    			<td>{{ row.email }}</td>
                <td>
                    <a class="pull-right" onclick="return confirm('Deseja realmente APAGAR \'{{ row.name }}\'?')" href="/app/users/{{ row.id }}/delete" style="color:red"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
    		</tr>
    		{% endfor %}

            {% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>
{% endblock %}