{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block jsBottom %}
	<script>
	$('.btn-select').on('click', function (e) {
		e.preventDefault();
		var el = $('#input-' + $(this).attr('data-target'));
    	el.show();
    	el.find('input').attr('required', 'required');
    	$(this).closest('.form-group').remove();
    })
	</script>
{% endblock %}

{% block app %}

	<style type="text/css">
    body {
        min-width: 400px
    }
    </style>
    
    {% include 'macro.twig' with {messages: messages} %}

    <form class="form-horizontal" method="post" action="/app/releases/group">
			
		<div class="row">
			<div class="col-md-12 no-padding">
				{% include 'app/releases/group-form.twig' %}
			</div>
		</div>

		<div class="row" style="margin:25px 0">
			<div class="col-md-12 no-padding">
			    {% include 'app/releases/group-releases.twig' %}
			</div>
		</div>

    	<div class="form-group no-margin-bottom">
    		<div class="col-xs-12">
    			<button {% if data.id %} onnoclick="return confirm('Confirma a edição do lançamento nº {{ data.number }}?')" {% endif %} class="btn pull-right btn-primary" type="submit">Salvar</button>

    			<a class="btn btn-link pull-right" href="/app/releases">Voltar</a>
    		</div>
    	</div>
    </form>

{% endblock %}