{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <h2>{{ title }}</h2>

    <ul>
    	<li><a href="/app/releases">Lista de Lançamentos</a> | <a href="/app/releases">Lista de Ações da Parcela</a></li>
    </ul>

    {% include 'macro.twig' with {error:error} %}

    <div class="jumbotron no-margin-bottom">
	    <form class="form-horizontal" method="post" action="/app/releases/{{ release_id }}/liquidar">

	    	<div class="form-group">
	    		<label for="date" class="control-label col-xs-2">Data</label>
	    		<div class="col-xs-5">
	    			<input type="date" id="date" value="{{ date }}" autofocus required name="date" class="form-control">
	    		</div>
	    	</div>

	    	<div class="form-group">
	    		<label for="value" class="control-label col-xs-2">Valor</label>
	    		<div class="col-xs-5">
	    			<input type="number" step="0.01" min="1" value="{{ value }}" max="99999999" id="value" required name="value" class="form-control">
	    		</div>
	    	</div>

	    	<div class="form-group no-margin-bottom">
	    		<div class="col-xs-10 col-xs-offset-2">
	    			<button class="btn btn-primary" type="submit">Salvar</button>
	    		</div>
	    	</div>
	    </form>
    </div>

{% endblock %}