{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <ul>
    	<li><a href="">Baixar backup</a></li>
    	<li><a href="">Apagar minha conta</a></li>
    </ul>
{% endblock %}