<div class="form-group">
	<label for="category_id" class="control-label no-padding-right col-xs-3">Categoria</label>
	<div class="col-xs-6 col-md-5">
		<select class="form-control" id="category_id" name="category_id" required>
			<option></option>
			{% for r in categories %}
			<option {% if r.id == data.category_id %}selected{% endif %} value="{{ r.id }}">{{ r.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-xs-3 no-padding-left">
		<a class="btn-select btn btn-link no-padding-left" id="add-category-link" data-target="category" href="javascript:void(0)">Cadastrar</a>
	</div>
</div>

<div class="form-group" style="display:none" id="input-category">
	<label for="category" class="control-label no-padding-right col-xs-3">Categoria</label>
	<div class="col-xs-9 col-md-5">
		<input type="text" maxlength="45" id="category" name="category" placeholder="Nova" class="form-control">
	</div>
</div>