{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    
    {% include 'macro.twig' with {messages: messages} %}

    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th style="width:160px">Data</th>
                <th>Description</th>
                <th>Usuário</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
    			<td>{{ row.date }}</td>
                <td>{{ row.description }}</td>
    			<td>{{ row.user }}</td>
    		</tr>
    		{% endfor %}

            {% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>
{% endblock %}