{% extends 'layouts/base.twig' %}

{% block navbar %}
    <li><a href="/app/releases">Lançamentos</a></li>
    <li><a href="/app/peoples">Pessoas</a></li>
    <li><a href="/app/categories">Categorias</a></li>
    <li><a href="/app/users">Usuários</a></li>
    <li><a href="/app/extract">Extrato</a></li>
    <li><a href="/app/logs">Logs</a></li>

    {% if user %}
    <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/app/me"><i class="icon-cog"></i> Minha Conta</a></li>
            <li><a href><i class="icon-envelope"></i> Suporte</a></li>
            <li class="divider"></li>
            <li><a href="/logout"><i class="icon-off"></i> Sair</a></li>
        </ul>
    </li>
    {% endif %}

{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block app %}{% endblock %}
            </div>
        </div>    
    </div>
</div>
{% endblock %}