{% extends 'layouts/base.twig' %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <ul>
                	<li><a href="/app/releases">Lançamentos</a></li>
                	<li><a href="/app/peoples">Pessoas</a></li>
                    <li><a href="/app/categories">Categorias</a></li>
                	<li><a href="/app/users">Usuários</a></li>
                	<li><a href="/app/reports">Relatórios</a></li>
                	<li>{% if user %}{{ user.name }} | {% endif %}<a style="color:red" href="/logout">Sair</a></li>
                </ul>

                <hr>

                {% block app %}

                {% endblock %}
            </div>
        </div>    
    </div>
</div>
{% endblock %}